# Dataset (too large for GitHub)
master/
dataset/

# Training outputs (too large, kept locally)
#experiments/

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store
.AppleDouble

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml


experiments/
master.zip
*.key
